@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	margin: 0px;
	padding: 0px;
}
.button-container .button button {
	border-radius: 100%;
}

.button {
  z-index: 99;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  background-color: #63caff;
  cursor: pointer;
}

.button:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.button:hover + .button-outline {
  width: 85%;
}

.button-outline {
  position: absolute;
  width: 75%;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  border: 7px solid #63caff;
  transform: translate(-50%, -50%);
  transition: all 0.25s cubic-bezier(.7, .11, .32, 2);
}

.button-outline:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  font-size: 96px;
  font-family: "Open Sans", sans-serif;
  color: white;
  border: none;
  background: none;
}

.button-container {
  position: relative;
  margin: 0 auto;
  width: 400px;
}

.button-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

main {
	width: 100%;
	height: 100vh;
	border: 1px solid black;
	display: flex;
}

section{
	width: 37.5%;
	height: 100vh;
}

aside {
	width: 25%;
	height: 100vh;
	border: 1px solid black;
}